.Atmosfer-System--container{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    
}

.Atmosfer-System--wrapper{
    height: 78vh;
    width: 55.3vw;
    background-color: #1F2347;
    margin-top: -4vh;
    margin-left: 13vw;
    border-radius: 24px;
    
}

.Atmosfer-System-text{
    margin-left: 2vw;
    margin-top: 2.2vh;
    font-family: "Rubik";
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;

}


.Atmosfer-system-apparat--wrapper{
    display: flex;
    width: 8.5vw;
    height: 17.4vh;
    background-color: #373F7B;
    margin-left: 2.2vw;
    margin-top: 3.4vh;
    border-radius: 10px;
    gap: 6px 0; 
    flex-wrap: wrap;
}

.Atmosfer-system-apparat--indicator {
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    width: 1.8vw;
    height: 3.8vh;
    background-color: #1F2347; 
    margin-left: 0.5vw;
    margin-top: 0.9vh;
}

.Atmosfer-system-apparat--indicator::before {
    content: "";
    display: block;
    position: relative;
    width: 1.5vw;
    height: 3.1vh;
    background-color: #45FF27;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Atmosfer-system-apparat--durability--container{
    width: 5.2vw;
    height: 4.8vh;
    background-color: #1F2347;
    font-family: "Rubik";
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    margin-top: 0.6vh;
    margin-left: 0.67vw;
    font-weight: 400;

}

.Atmosfer-system-apparat--button{
    width: 6.4vw;
    height: 3vh;
    background-color: #1F2347;
    font-family: "Rubik";
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    border: none;
    margin: 0 auto;
    border-radius: 7px;
    position: relative; 
    cursor: pointer;
}

.Atmosfer-system-apparat--button::before{
    position: absolute;
    content: "";
    width: 0.78vw;
    height: 100%;
    background-color: #45FF27;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    left: 0vw;
    top: 0;

}

.Atmosfer-system-apparat--sector{
    margin: 10px auto;
    color: #FFFFFF;
    font-family: "Rubik";
    font-size: 20px;
}


.modal {
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    background-color: #373F7B;
    border-radius: 24px;
}


.big-size{
    width: 21vw;
    height: 43vh;
    top: 27.2vh;
    left: 28.6vw;
}

.small-size{
    width: 21vw;
    height: 22vh;
    top: 30vh;
    left: 28.6vw;
}

.modal-container {
    margin: auto;
    padding: 20px;
}

.close {
    display: none;
}

.close:hover,
.close:focus {
    transition: 0.3s;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.blur {
    transition: 0.8s;
    /*filter: blur(2.5px);*/
   /* background-color: rgba(31,35,71,70%); */
    opacity: 0.7;
}

.modul{
    display: flex;
    flex-wrap: wrap;
}

.modul--top{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.modul{
    font-family: "Rubik";
    color: #FFFFFF;
    font-weight: normal;
    font-size: 25px;
}

.modul--text{
    font-family: "Rubik";
    color: #FFFFFF;
    font-weight: normal;
    font-size: 15px;
}

.fz--25{
    font-size: 25px;
}

.fz--15{
    font-size: 15px;
    margin: 15px 0 0 0;
}

.modul--indicator{
    display: flex;
    background-color: rgba(16,20,50,0.8);
    text-align: 20px;
    border-radius: 7px;
    width: 10.7vw;
    height: 4.8vh;
    margin-left: 2.6vw;
}

.modul--indicator--text::before{
    display: flex;
    content: "";
    position: absolute;
    width: 1.66vw;
    height: 3.4vh;
    background-color: #45FF27;
    border-radius: 5px;
    margin-left: 7vw;
}

.modul--indicator--text{
    display: flex;
    margin-left: 1.66vw;
    align-items: center;
}

.modul--center{
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
}

