.container{
  
    width: 100%;
    max-height: 1020px;
    
    
}
  
  
  
.sidebar{
position: fixed;
top: 0;
left: 0;
height: 100%;
z-index: 100;
transition: all 0.5s ease;
width: 160px;
background-color: #1F2347
}

.models__wrap{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 962px;
    width: 100%;
    margin-left: 250px;
    

}
  