.liquid-storage {
    display: flex;
    width: 453px;
    height: 312px;
    background-color: #1F2347;
    margin-top: 184px;
    margin-left: 251px;
    border-radius: 24px;
}

.liquid-storage-container {
    width: 100%;
}

.liquid-storage-level {
    margin-top: 40px;
    margin-left: 55px;
    width: 92px;
    height: 170px;
    border: 7px solid #373F7B;
    border-radius: 4px;
    overflow: hidden;
    transform: scaleY(-1);
}

.liquid-storage-fill {
    width: 100%;
    background-color: #2AF015;
}

.title-system {
    justify-content: center;
    margin: 21px 55px 0;
    width: 343px;
    height: 47px;
    background-color: #373F7B;
    font-weight: 600;
    font-size: 25px;
    font-family: "Rubik";
    color: #FFFFFF;
    border-radius: 8px;
    padding: 7px 16px;
}
